html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  position: relative;
  background-color: #2b3851;
  padding-bottom: 2.4rem;
}

.robot {
  position: relative;
  top: 2.9em;
  left: 34%;
  width: 320px;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  position: absolute;
  display: flex;
  left: 42.5%;
  bottom: 73.5%;
  width: 46px;
  z-index: -1;
}

.robot-head-right {
  position: absolute;
  display: flex;
  width: 125px;
  right: 11%;
  top: -20%;
}

.robot-head-left {
  position: absolute;
  display: flex;
  width: 125px;
  left: 11%;
  top: -20%;
}

.robot:hover .robot-head-left {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 20%;
}

.robot:hover .robot-head-right {
  position: absolute;
  display: flex;
  right: 0;
  bottom: 20%;
}

.robot:hover .robot-brain {
  z-index: 1;
}
